body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
}
/* layout */
.hero{
    background-image: url("images/jakarta.webp");
    background-size: cover; 
    background-color: #404040;
    background-position: top center;
    display: flex;
    flex-direction: column;
    padding: 10em;
}
.text{
    padding:0.1em 0.1em;
    background: #08988A;
    color: rgb(94, 35, 6);
    display: flex;
    flex-direction: column;
}
img {
    width: 100px;
    border-radius:50%;
    border:3px solid rgb(77, 199, 77);
}
#activities{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.section-one, .section-two, .section-three, .guide {
    padding:50px;
}
.section-one {
    background:#A0EEC0;
}

.section-two {
    background:#8AE9C1;
    
}
.section-three {
    background: #86CD82;
}
.guide {
    background: #72A276;
}
#activities a {
    padding:15px 25px;
    display: inline-block;
    padding: 12px 25px;
    background: rgb(64, 179, 64);
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
/* business card */
#guide{
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: #2B3137;
    color: #C5BAAF;
    border-bottom: 6px solid #A95953;
    border-radius: 20px;
    background-color: #7F5560;
    animation-name: guide;
    animation-duration: 4s; 
    animation-iteration-count: 2; 
}

@keyframes guide {
    0%   {background-color: #08988A;}
    25%  {background-color: #EC1D1A;}
    50%  {background-color: #E60201;}
    100% {background-color: #34A498;}
}


#activities a:hover,
#activities a:active {
    background-color:#1f2429;
}
